<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DetailDesc.aspx.cs" Inherits="PhotoTracker.DetailDesc" validateRequest="false"%>

<%@ Register Assembly="FreeTextBox" Namespace="FreeTextBoxControls" TagPrefix="FTB" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Commments</title>
    <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">	
</head>
<body>
		<form id="Form1" method="post" runat="server">
            &nbsp;<FTB:FreeTextBox ID="FreeTextBox1" runat="server" Width="400px">
            </FTB:FreeTextBox>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
            
			</form>
	</body>
</html>