@media print {
/** { display: none; }
div.print_block { display: block; }
*/
input {display:none;}
}

body
{
	font: 80% arial, verdana, helvetica, sans-serif;
    text-align: center; /* for IE 
    size: landscape;
    background-image:url('Image/ReviewHT1.jpg'); */
    
}
a 
{
    color: #990000;
    font: 10pt Arial bold;
    font-weight:bolder;
    
}



.innerTable
{
	
	 font: 12pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;		
}

.innerTableView
{
	
	
	 font: 9pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 border-collapse: collapse;		
	
}

.innerTableView td
{
		
    border: solid 1px Black;
    border-collapse: collapse;
      	
}

.innerTableDetail
{
	
	font: 9pt Arial;
	border-top-width:2px; 
border-right-width: 2px; 
border-bottom-width: 2px; 
border-left-width: 2px;
border-color: Black;
border-style: solid;
	 padding: 1px 1px 1px 1px;
	 text-align:left;	
	 border-collapse: collapse; 
}
.innerTableDetailSmall
{
	font: 9pt Arial;
	border-top-width:0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px;
border-color: Black;
border-style: solid;
	 padding: 0px 0px 0px 0px;
	 text-align:left;	
	 border-collapse: collapse; 
}
.innerTableDetailThin
{
	
	font: 9pt Arial bold;
	border-top-width:1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px;
border-color: Black;
border-style: solid;
	 padding: 1px 1px 1px 1px;
	 text-align:left;	
	 border-collapse: collapse; 
}
.innerTableDetailThinSmall
{
	
	font: 9pt Arial bold;
	border-top-width:0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px;
border-color: Black;
border-style: solid;
	 padding: 0px 0px 0px 0px;
	 text-align:left;	
	 border-collapse: collapse; 
}
.innerTableDetailThinSmall
{
	
	font: 9pt Arial bold;
	border-top-width:0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px;
border-color: Black;
border-style: solid;
	 padding: 0px 0px 0px 0px;
	 text-align:left;	
	 border-collapse: collapse; 
}

.innerTableDetailThinTiny
{
	
	font: 8pt Arial bold;
	border-top-width:0px; 
border-right-width: 0px; 
border-bottom-width: 0px; 
border-left-width: 0px;
border-color: Black;
border-style: solid;
	 padding: 0px 0px 0px 0px;
	 text-align:left;	
	 border-collapse: collapse; 
}

TableViewEmpty
{
	
	
	 font: 10pt Arial;
	 border: solid 0px #ffffff;
	 padding: 2px 2px 2px 2px;
	 text-align:left;		
	
}



.footerTable
{
	
	 font: 10pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 
	 
	 	 
		
}
.innerTableLog
{
	
	 font: 12pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 background-color: #DCDCDC;
	 /*background-image:url('Image/ReviewHT1.jpg'); 
	 background-color: Gainsboro;*/
	 
	 	 
		
}

.tableTitle
{
font: 12pt Impact;
color: #000;
padding: 1px 1px 1px 1px;	

}
.tableInput
{
text-decoration: none;
border-top-width:1px; 
border-right-width: 1px; 
border-bottom-width: 1px; 
border-left-width: 1px;
border-color: Black;
border-style: solid;
/*background-color: Gainsboro;*/
}
.tableInputWhite
{
text-decoration: none;
border-top-width:2px; 
border-right-width: 2px; 
border-bottom-width: 2px; 
border-left-width: 2px;
border-color: Black;
border-style: solid;
background-color: #ffffff;
}
.tableCell
{
padding: 2px 2px 2px 2px;
height: 40px;	
}



.fontSmallBold
{
	font: 9pt Impact;
	color: Black;
}

.fontMediumBold
{
	font: 10pt Impact;
	color: Black;
}
.fontSmallBoldRedColor
{
	font: 10pt Impact;
	color: #CC0000;
}

.fontSmallBoldColor
{
	font: 10pt Impact;
	color: #996633;
}


.buttonRed
{
	
font: 11pt Impact;
color: #ed1c24;
background-color: Black;

border: solid 2px #ed1c24;	
		
}


.buttonYellow

{
	font: 14pt Impact;
color: #fff568;
background-color: Black;

border: solid 2px #fff568;	
	
	
}

#header
{
    width: 998px;
    background-color: White;
    height: 100px;  
    border: white 0px solid;
    margin: 0 auto;   /* align for good browsers */
    text-align: left; /* counter the body center */
    
   
     font: 10pt Arial ;
}
#headerTable
{
	 font: bold 10pt Arial ;
	
}
#storeCell
{
	 padding: 0px 10px 0px 0px;	
}

#footer
{ 
	width: 998px;
    background-color: White;
    background-repeat: no-repeat;
    height: 35px;
    text-align: right;
    font: 8pt Arial ;
    color: White;
    
}
thead 
{  
   display:table-header-group;  
} 
        
tbody 
{  
    display:table-row-group;  
} 
.printTD
{
	border-bottom:1px solid black; 
	page-break-inside: avoid;
} 
.printHeadTD
{
	border-bottom:2px solid black; 
	background-color:blue; 
	page-break-inside: avoid;
	font: bold 9pt Arial;
} 

.printTable 
{  
     border:white 1px solid;  
	 font: 9pt Arial;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 border-collapse: collapse;		
}  
printTableTR 
{
	page-break-inside: avoid;
}
.printTableTitle
{
	border-bottom:2px solid black; 
	font: 14pt Impact;
    color: #000;
    padding: 2px 2px 2px 2px;	
	
} 
.productimg 
{
	/* border: solid 1px #000;*/

	height: 190px;
	float:left
}
	
.alternate_img
{
	width:35px;
	float:left;
	list-style:none;
	margin:0 10px 0 0;
	padding:0;
	float: left;
	
}
.alternate_img li
{
	width:35px;
	height:53px;
	display:block;
	border:solid 1px #000;
	margin-bottom:3px;
	padding:2px;
}
.productimg img 
{
	border: solid 1px #000;
	height: 190px; 
	float: right;
}
#main 
{
 margin: 0 auto;   /* align for good browsers */
 text-align: left; /* counter the body center */
 background-color: White;
 vertical-align: top; 
 width: 998px;
 overflow:hidden;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 2px;
 border: white 0px solid;    
}
